<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchieversIT-LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./Style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="header-logo">
        </div>
        <nav>
            <ul class="navbar" type="none">
                <li>
                    All Courses<i class="fa-solid fa-caret-down"></i>
                    <ul class="dropdown" type="none">
                        <li> Front End Courses</li>
                        <li> Full Stack Courses</li>
                        <li> Cloud Computing</li>
                        <li> Data Science</li>
                        <li> Artificial Intelligence</li>
                        <li> Digital Marketing Courses</li>
                        <li> Microsoft Training</li>
                        <li> Software Testing</li>
                    </ul>
                </li>
                <li><a href="./Placements.html" target="_blank">Placements</a></li>
                <li><a href="./Internship.html" >Internship</a></li>
                <li><a href="./Reviews.html">Reviews</a></li>
                <li><a href="./Blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>