<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchieversIT-LMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./Style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="header-logo">
        </div>
        <nav>
            <ul class="navbar" type="none">
                <li>
                    Courses<i class="fa-solid fa-caret-down"></i>
                    <ul class="dropdown" type="none">
                        <li> Front End Courses
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Angular Course Training</a></li>
                                <li><a href="">React JS Course Training</a></li>
                                <li><a href="">Web Development Course Training</a></li>
                                <li><a href="">UI/UX Design Course Training</a></li>
                            </ul>
                        </li>
                        <li> Full Stack Courses
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">MERN Stack Course Training</a></li>
                                <li><a href="">Full Stack Developer Course Training</a></li>
                                <li><a href="">MEAN Stack Developer Course Training</a></li>
                                <li><a href="">Java Developer Course Training</a></li>
                                <li><a href="">Python Developer Course Training</a></li>
                            </ul>
                        </li>
                        <li> Cloud Computing
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">AWS DevOps Course Training</a></li>
                            </ul>
                        </li>
                        <li> Data Science
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Data Science Course Training</a></li>
                            </ul>
                        </li>
                        <li> Artificial Intelligence
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Artificial Intelligence Course Training</a></li>
                            </ul>
                        </li>
                        <li> Digital Marketing Courses
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Digital Marketing Course Training</a></li>
                            </ul>
                        </li>
                        <li> Microsoft Training
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Power BI Course Training</a></li>
                            </ul>
                        </li>
                        <li> Software Testing
                            <ul class="sub-dropdown" type="none">
                                <li><a href="">Software Testing Course Training</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="./Placements.html">Placements</a></li>
                <li><a href="./Internship.html">Internship</a></li>
                <li><a href="./Reviews.html">Reviews</a></li>
                <li><a href="./Blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>