<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./Style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://www.achieversit.com/assets/images/logo-white.png" alt="header-logo">
        </div>
        <nav>
            <ul class="navbar" type="none">
                <li><a href="#">
                    All Courses<i class="fa-solid fa-caret-down"></i></a>
                    <ul class="dropdown" type="none">
                        <li><a href="#">Front End Courses</a></li>
                        <li><a href="#">Full Stack Courses</a></li>
                        <li><a href="#">Cloud Computing</a></li>
                        <li><a href="#">Data Science</a></li>
                        <li><a href="#">Artificial Intelligence</a></li>
                        <li><a href="#">Digital Marketing Courses</a></li>
                        <li><a href="#">Microsoft Training</a></li>
                        <li><a href="#">Software Testing</a></li>
                    </ul>
                </li>
                <li><a href="#">Placements</a></li>
                <li><a href="#">Internship</a></li>
                <li><a href="#">
                    Existing Students<i class="fa-solid fa-caret-down"></i></a>
                    <ul class="dropdown" type="none">
                        <li><a href="#">LMS Portal</a></li>
                    </ul>
                </li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>